

angular.module('adminUI')

.config(function (NgAdminConfigurationProvider) {

    /*
    	Configure ngAdmin
     */
    var nga = NgAdminConfigurationProvider;
    // set the main API endpoint for this admin
    //TODO: use '<%- apiUrl %>' to configure API baseUrl
    var app = nga.application('SailsJS Admin UI').baseApiUrl('/');

    // define an entity mapped by the http://localhost:3000/posts endpoint

    var entities = <%- entities %>;

    var addEntity = function(eName){
      var eFields = [];
      var ngaEntity = nga.entity(eName);
      var entity = entities[eName];
      Object.keys(entity.attributes).forEach(function(aName){
        var attr = entity.attributes[aName];
        eFields.push(nga.field(aName, attr.type).label(attr.label));
      });

      app.addEntity(ngaEntity);

      ngaEntity.listView().fields(eFields).listActions(['show', 'edit', 'delete']);
      ngaEntity.creationView().fields(eFields);
      ngaEntity.editionView().fields(eFields);
      ngaEntity.showView().fields(eFields);
    };


    //Configure ng-admin with entities
    Object.keys(entities).forEach(addEntity);

    // set the list of fields to map in each post view
    // post.dashboardView().fields();
    // post.listView().fields();
    // post.creationView().fields();
    // post.editionView().fields();

    nga.configure(app);
})

;
