<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue to SailsJS Admin</h1>
            <div class="account-wall">
                <!-- <img class="profile-img" src="http://blog.evizija.si/content/images/2015/01/687474703a2f2f692e696d6775722e636f6d2f546a394e6b2e706e67.png"
                    alt=""> -->
                <form class="form-signin" ng-submit="login(credentials)">
                  <span ng-if="response">{{ response }}</span>
                  <input type="email" placeholder="Email" class="form-control" ng-model="credentials.username" name="email" required autofocus>
                  <input type="password" ng-model="credentials.password" name="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <!-- <div class="form-group">
                  <label class="checkbox-inline pull-left">
                      <input type="checkbox" value="remember-me">
                      Remember me
                  </label>
                </div> -->
                </form>
            </div>
            <!-- <a href="#" class="text-center new-account">Create an account </a> -->
        </div>
    </div>
</div>
